.list-stripped {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  display: inline-block;
}

.list-icons {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  text-align: center;
  margin-top: 0;
  li {
    width: 40%;
    height: 40%;
    color: white;
  }
}
