@import "./variables";

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: $btn-grey;
}

.home-header {
  background: $home-header;
}

.body-bg {
  background: $body-bg;
  padding-bottom: 30px;

  > header {
    padding-top: 60px;
  }

  svg {
    font-size: 40px;
    margin-top: 10px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
  }

  svg,
  h2 { color: $white;}
}

.listing-bg {
  background: $white;
}

.listing-details {
  font-size: 16px;
  display: block;
  margin-left: 80px;
  margin-right: 10px;

  h3 {
    margin-top: 5px;
    margin-bottom: -10px;
  }

  p {
    color: $listing-text;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 10px;
  }
}

.home {
  background: $home;
}

.home-bg {
  background: $home-bg;
}

.health {
  background: $health;

  > svg {
    left: 10px;
  }
}

.health-text {
  color: $health-font-color;
}

.home-text {
  color: $home-font-color;
}

.food-text {
  color: $food-font-color;
}

.activities-text {
  color: $activities-font-color;
}

.wellbeing-text {
  color: $wellbeing-font-color;
}

.health-bg {
  background: $health-bg;
}

.food {
  background: $food;
}

.food-bg {
  background: $food-bg;
}

.activities {
  background: $activities;
}

.activities-bg {
  background: $activities-bg;
}

.wellbeing {
  background: $wellbeing;
}

.wellbeing-bg {
  background: $wellbeing-bg;
}

// GENERIC

.container {
  margin: 0 10px;
  position: relative;
}

ul:not(.list-icons) {
  svg {
    font-size: 50px;
    position: absolute;
    top: 10px;
  }

  a {
    overflow: auto;
    text-decoration: none;
    display: block;
    color: $white;
    margin-bottom: 10px;
    border-radius: 18px;
    padding: 10px;
    font-size: 27px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba($black, 0.4);
    position: relative;
  }
}

nav {

  span {
    display: inline-block;
    margin-left: 90px;
  }
}

.list-icons {
  display: flex;
  margin-top: 0;

  svg {
    font-size: 50px;
    color: $white;
    height: 34px;
  }

  li {
    text-align: center;
    flex-direction: row;
    width: 33.33%;
    padding-top: 8px;
  }
}

.list-stripped {
  list-style: none;
  padding-left: 0;
}

.img-rounded {
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.img-inline {
  display: inline-block;
  float: left;
}

.listing {
  overflow: auto;

  dd {
    margin-left: 0;
    margin-bottom: 10px;
  }

  ul {
    padding-bottom: 70px;
  }

  h2 {
    color: $white;
    text-transform: capitalize;
  }

  li {
    border-radius: 18px;
    margin-bottom: 15px;
    position: relative;
  }

  .service {
    display: block;
    padding: 10px;
    overflow: auto;
  }

  img {
    position: absolute;
  }

  span {
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    font-size: 1rem;
  }

  h3,
  p { margin: 0; }

  h3 { color: $white; margin-bottom: 5px;}

  dt { font-weight: bold; }

  svg {
    color: $white;
    font-size: 40px;
    position: relative;
    top: 15px;
  }
}

.back-link {
  position: relative;
  text-decoration: none;
  color: $white;
  display: inline-block;

  .arrow {
    border: solid $white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position: absolute !important;
    top: 40%;
    left: -125px;

    &.arrow-sm {
      padding: 4px;
      top: 0;
    }
  }

  .arrow-left {
    transform: rotate(135deg);
    position: absolute;
    left: -125px;
  }
}

.aria-hidden {
  display: none !important;
}

.sub-header {
  text-align: center;
  padding: 140px 0 40px;
  box-shadow: 0 2px 20px rgba($black, 0.5);

  img {
    position: absolute;
    left: 20px;
    top: 10px;

    @media(min-width:320px) {
      left: 20px;
    }

    @media(min-width:320px) {
      left: 20px;
    }

  }

  svg {
    position: absolute;
    right: 5px;
    top: -26px;
    height: 31px;
  }

  header {
    text-align: left;
    vertical-align: top;
    margin-left: 100px;

    @media (min-width: 425px) {
      margin-right: 105px;
    }

    @media (min-width: 426px) {
      padding-top: 20px;
      margin-left: 115px;
    }
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }

  p {
    font-size: 15px;
    color: rgba($white, 0.7);
  }
}

.service {

  .container-inner {
    margin: 20px 40px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 130px;
  }

  p,
  strong { line-height: 1.4em; }
}

.service-bg {
  background-color: $white;
}

.main-header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  background: $header-bg;
}

.home-nav {
  margin-top: 0;
  padding-top: 65px;

  a {
    padding: 20px !important;
  }
}

.form {
  > input {
    margin-top: 80px;
  }
}
