$primary-text-color: #484848;
$primary-color: #35a744;
$secondary-color: #c4c4c4;
$primary-background: #fff;
$primary-dark: #0d0d0d;
$black: #000;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);
$footer-background: rgba(130, 218, 255, 1);

$orange: #ffa500;

$btn-grey: rgba(101, 111, 125, 1);
$body-bg: rgba(212, 212, 212, 1);
$header-bg: rgba(63, 127, 150, 1);

$home: rgba(67, 122, 199, 1);
$home-header: rgba(52, 152, 219, 1);
$home-bg: rgba(46, 97, 169, 1);
$header-bg: rgba(0, 0, 0, 0.2);

$health: rgba(255, 99, 65, 1);
$health-bg: rgba(239, 146, 114, 1);
$health-font-color: rgba(177, 0, 0, 1);
$food-font-color: rgba(28, 121, 125, 1);
$wellbeing-font-color: rgba(26, 132, 83, 1);
$activities-font-color: rgba(191, 72, 0, 1);
$home-font-color: rgba(31, 119, 178, 1);

$food: rgba(46, 198, 204, 1);
$food-bg: rgba(114, 239, 230, 1);

$activities: rgba(255, 145, 0, 1);
$activities-bg: rgba(239, 192, 114, 1);

$wellbeing: rgba(38, 194, 122, 1);
$wellbeing-bg: rgba(114, 239, 165, 1);

$listing-text: rgba(93,93,93,1);
